FutureGame/Library/metadata/
FutureGame/Temp/
FutureGame/Library/ShaderCache/
FutureGame/Library/assetDatabase3


FutureGame/Library/CurrentLayout.dwlt
FutureGame/Library/LastSceneManagerSetup.txt

FutureGame/Library/ShaderCache\.db

FutureGame/Library/CrashedAssetImports\.txt

*.stamp
*.meta
*.log
*.cache
